--index-url https://nexus.engageska-portugal.pt/repository/pypi/simple
--extra-index-url https://pypi.org/simple
pytango
jsonschema
ska-sdp-config >= 0.0.12
ska_logging >= 0.3.0
lmcbaseclasses >= 0.7.2
