--index-url https://nexus.engageska-portugal.pt/repository/pypi/simple
--extra-index-url https://pypi.org/simple
pytango
jsonschema
lmcbaseclasses >= 0.8
ska-sdp-config >= 0.2.3
ska_logging >= 0.3.0
ska-log-transactions >= 0.1.0
