--index-url https://nexus.engageska-portugal.pt/repository/pypi/simple
--extra-index-url https://pypi.org/simple
pytango
jsonschema
ska-sdp-config >= 0.0.12
ska_logging >= 0.3.0
ska-log-transactions >= 0.1.0
ska.skuid >= 1.2.0
